(function (window) {
    window.__env = window.__env || {};

    window.__env.openIdIssuer = '${OPENID_ISSUER}';
    window.__env.openIdRedirect = '${OPENID_REDIRECT}';
    window.__env.openIdClient = '${OPENID_CLIENT}';
    window.__env.baseHref = '${BASE_HREF}';

}(this));